.sliderContainer {
  position: relative;
  width: calc(100% - 70px);
  margin-left: 35px;
}

.slide {
  margin-right: 20px;
}

.slideContainer {
  display: flex;
}

.slideContainer figure {
  height: 100%;
}

.imageBorder {
  border-radius: 20px;
}

@media screen and (max-width: 700px) {
  .sliderContainer {
    width: 100%;
    margin-left: 0;
  }
}
